@model IEnumerable<RegattaManager.ViewModels.Mannschaftswertung>

@{
    ViewData["Title"] = "Mannschaftswertung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mannschaftswertung</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClubId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClubName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OldclassName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wertung)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClubId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldclassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wertung)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MWId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MWId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MWId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
