@model IEnumerable<RegattaManager.Models.Race>

@{
   ViewBag.Title = "Sprecher";
}
<br/>
<h2>&Uuml;bersicht f&uuml;r den Sprecher</h2>


@if (ViewBag.regattachosen == 0)
{
    <table class="table table-hover">
        <tr><td><h3>Noch keine Regatta ausgew&auml;hlt!</h3></td></tr>
        <tr><td></td></tr>
    </table>
}
else
{
    <table class="table table-hover">
    <thead>
        <tr>
            <th colspan="2">
                Rennbezeichnung
            </th>
            <th colspan="2">
                Startzeit
            </th>
            <th></th>
            <th></th>            
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr class="table-active" id="@item.RaceId">
            <td colspan="2"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        @if(item.Spoken == true && (item.RacestatusId == 1 || item.RacestatusId == 2))
        {
            @:<tr class="table-dark">
        }
        else if(item.RacestatusId == 1 || item.RacestatusId == 2)
        {
        @:<tr class="table-primary">
        }
        else if(item.RacestatusId == 3)
        {
            @:<tr class="table-success">
        }
        else if(item.RacestatusId == 4)
        {
            @:<tr class="table-danger">
        }        
        else
        {
            @:<tr class="table-light">
        }
            <td>@item.RaceCode</td>
            <td>
                @if (item.Gender.Equals("M"))
                {
                    @if(item.Oldclass.FromAge >=17 && item.Oldclass.ToAge <= 99)
                    {
                        @:Herren
                    }
                    else if(item.Oldclass.FromAge >= 15 && item.Oldclass.ToAge <= 16)
                    {
                        @:männliche    
                    }                            
                }
                else if (string.Equals(item.Gender, "W"))
                {
                    @if (item.Oldclass.FromAge >= 17 && item.Oldclass.ToAge <= 99)
                    {
                        @:Damen
                    }
                    else
                    {
                        @:weibliche
                    }
                }
                else if (string.Equals(item.Gender, "X"))
                {
                    @:mixed
                }
                @Html.DisplayFor(modelItem => item.Oldclass.Name)
                &nbsp;-&nbsp;
                @Html.DisplayFor(modelItem => item.Boatclass.Name)
                &nbsp;-&nbsp;
                @Html.DisplayFor(modelItem => item.Raceclass.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Starttime)
            </td>
            <td>
                @if (item.RaceTypId == 4)
                {
                    <span class="badge badge-pill badge-danger">Endlauf</span>
                }
                else if (item.RaceTypId == 2)
                {
                    <span class="badge badge-pill badge-warning">Zwischenlauf</span>
                }
                else if (item.RaceTypId == 1)
                {
                    <span class="badge badge-pill badge-success">Vorlauf</span>
                }
                else if (item.RaceTypId == 3)
                {
                    <span class="badge badge-pill badge-info">Hoffnungslauf</span>
                }

                @if (item.Comment != "")
                {
                    @:&nbsp;
                    @:<span class="badge badge-primary">@item.Comment</span>
                    @if (@item.Comment == "Bier Cup")
                    {
                        @:&nbsp;<img src="/images/beer-512.png" height="15" />
                }
                    @if (@item.Comment == "Prosecco Cup")
                    {
                        @:&nbsp;<img src="/images/prosecco.png" height="15" />
                }
                }
            </td>
            <td>
                @if (item.Spoken == false && (item.RacestatusId == 1 || item.RacestatusId == 1005))
                {
                    <a href="/Speaker/SetSpoken/@item.RaceId/?result=@ViewBag.result" class="btn btn-success">Besprochen</a>
                }
                else if (item.Spoken == true && (item.RacestatusId == 1 || item.RacestatusId == 1005))
                {
                    <a href="#" class="btn btn-success disabled">Besprochen</a>
                }
                else if (item.RacestatusId == 3)
                {
                    <a href="/Speaker/SetResultSpoken/@item.RaceId/?result=@ViewBag.result" class="btn btn-success">Ergebnis besprochen</a>
                }
            </td>
        @:</tr>        
        @if(item.Spoken == true && (item.RacestatusId == 1 || item.RacestatusId == 2))
        {
            @:<tr class="table-dark">
        }
        else
        {
            @:<tr class="table-secondary">
        }        
            <td><i>Platzierung</i></td>
            <td><i>Startbahn</i></td>
            <td><i>Starter</i></td>
            <td><i>Verein</i></td>
            <td><i>Status</i></td>
        @:</tr>
        @foreach (var sb in ViewBag.startboats)
        {
            if (sb.RaceId == item.RaceId)
            {
                if (sb.Placement != 0 && sb.Placement != -1)
                {
                    if(item.Spoken == true && (item.RacestatusId == 1 || item.RacestatusId == 2))
                    {
                       @: <tr class="table-dark">
                    }            
                    else
                    {
                        @:<tr class="table-light">    
                    }                    
                        <td>@sb.Placement</td>
                        <td>@sb.Startslot</td>
                        <td>
                        @foreach (var sbm in ViewBag.startboatmembers)
                        {                            
                            @if (sbm.StartboatId == sb.StartboatId)
                            {
                                @foreach (var m in ViewBag.members)
                                {
                                    @if (m.MemberId == sbm.MemberId)
                                    {
                                        @string.Format("{0}, {1}", m.LastName, m.FirstName);
                                        @if (m.ClubId != sb.ClubId)
                                        {
                                            @string.Format(" ({0})", m.Club.ShortName);
                                        }
                                        <br />
                                }
                                }
                            }
                        }
                </td>
                <td>@sb.Club.ShortName</td>
                <td></td>
            @:</tr>
            }
            }
        }
        @foreach (var sb in ViewBag.disqsbs)
        {
            if (sb.RaceId == item.RaceId)
            {
                if(item.Spoken == true && (item.RacestatusId == 1 || item.RacestatusId == 2))
                {
                    @:<tr class="table-dark">
                        @:<td></td>
                        @:<td>@sb.Startslot</td>
                        @:<td>
                }
                else if (sb.Placement <= 0 && item.RacestatusId == 3)
                {
                    @:<tr class="table-warning">
                        @:<td>0</td>
                        @:<td>@sb.Startslot</td>
                        @:<td>                    
                }                
                else
                {
                    @:<tr class="table-light">
                        @:<td></td>
                        @:<td>@sb.Startslot</td>
                        @:<td>
                }   
                @foreach (var sbm in ViewBag.startboatmembers)
                {
                    if (sbm.StartboatId == sb.StartboatId)
                    {
                        foreach (var m in ViewBag.members)
                        {
                            if (m.MemberId == sbm.MemberId)
                            {
                                @string.Format("{0}, {1}", m.LastName, m.FirstName);
                                @if (m.ClubId != sb.ClubId)
                                {
                                    @string.Format(" ({0})", m.Club.ShortName);
                                }
                                @:<br />
                            }
                        }
                    }
                }                 
                @:</td>
                @:<td>@sb.Club.ShortName</td>
                @:<td>@sb.Startboatstatus.Name</td>
            @:</tr>
            }
        }
    }

</table>
}
   
