@model IEnumerable<RegattaManager.Models.Club>

@{
    ViewData["Title"] = "Vereine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vereine</h2>

<p>
    <a asp-action="Create">Neuen Verein erstellen</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VNr)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VNr)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClubId">Bearbeiten</a> |
                <a asp-action="Details" asp-route-id="@item.ClubId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClubId">Löschen</a>
            </td>
        </tr>
}
    </tbody>
</table>
