@model IEnumerable<RegattaManager.Models.Competition>

@{
    ViewData["Title"] = "Wettk&auml;mpfe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wettk&auml;mpfe</h2>

<p>
    <a asp-action="Create">Erstellen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Boatclasses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raceclasses)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Boatclasses.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raceclasses.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompetitionId">Bearbeiten</a> |
                <a asp-action="Details" asp-route-id="@item.CompetitionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CompetitionId">L&ouml;schen</a>
            </td>
        </tr>
}
    </tbody>
</table>
