@model IEnumerable<RegattaManager.Models.Race>
@{ var x = 1; }
@{
    ViewData["Title"] = "Start";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Start</h2>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Boatclass.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Raceclass.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oldclass.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Regatta.Name)
        </th>
        <th>
            Rennstatus
        </th>
        <th>
            Startzeit
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @if (x == 1)
        {
            <tr class="table-active">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="table-primary">
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Boatclass.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Raceclass.Name)
                </td>
                <td>
                    @if (item.Gender.Equals("M"))
                    {
                        @if(item.Oldclass.FromAge >=17 && item.Oldclass.ToAge <= 99)
                        {
                            @:Herren
                        }
                        else if(item.Oldclass.FromAge >= 15 && item.Oldclass.ToAge <= 16)
                        {
                            @:männliche    
                        }                            
                    }
                    else if (string.Equals(item.Gender, "W"))
                    {
                        @if (item.Oldclass.FromAge >= 17 && item.Oldclass.ToAge <= 99)
                        {
                            @:Damen
                        }
                        else
                        {
                            @:weibliche
                        }
                    }
                    else if (string.Equals(item.Gender, "X"))
                    {
                        @:mixed
                    }
                    @Html.DisplayFor(modelItem => item.Oldclass.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Regatta.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Racestatus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Starttime)
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr class="table-secondary">
                <td></td>
                <td>@item.RaceCode</td>
                <td><i>Startbahn</i></td>
                <td><i>Starter</i></td>
                <td><i>Verein</i></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            @foreach (var sb in ViewBag.startboats)
            {
                if (sb.RaceId == item.RaceId)
                {
                    @:
                    <tr>
                        <td></td>
                        <td></td>
                        <td>@sb.Startslot</td>
                        <td>
                            @foreach (var sbm in ViewBag.startboatmembers)
                    {
                        if (sbm.StartboatId == sb.StartboatId)
                        {
                            foreach (var m in ViewBag.members)
                            {
                                if (m.MemberId == sbm.MemberId)
                                {
                            @string.Format("{0}, {1}", m.LastName, m.FirstName);
                            <br />
                            }
                            }
                        }
                    }
                        </td>
                        <td>@sb.Club.Name</td>
                        <td></td>
                        <td></td>
                        <td>
                            <form asp-action="VerifyStartboat" asp-controller="Start" asp-route-id="@sb.StartboatId">
                                <input type="hidden" name="statusid" id="statusid" value="1" />
                                @if (@sb.StartboatstatusId != 2)
                                {
                                    @if (@sb.StartboatstatusId == 1)
                                    {
                                        <a href="#" class="btn btn-success disabled">Am Start</a>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-success">Am Start</button>
                                    }
                                }
                                else if (@sb.StartboatstatusId != 1)
                                {
                                <button type="submit" class="btn btn-success">Am Start</button>
                                }
                            </form>
                        </td>
                        <td>
                            <form asp-action="VerifyStartboat" asp-controller="Start" asp-route-id="@sb.StartboatId">
                                <input type="hidden" name="statusid" id="statusid" value="5" />
                        @if (@sb.StartboatstatusId != 2)
                        {
                            if (@sb.StartboatstatusId == 5)
                            {
                                <button type="submit" class="btn btn-danger disabled">Nicht Am Start</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-danger">Nicht Am Start</button>
                            }
                        }
                        else if (@sb.StartboatstatusId != 3)
                        {
                            <button type="submit" class="btn btn-danger">Nicht Am Start</button>
                        }
                            </form>
                        </td>
                    </tr>
                }
            }
            x++;

            @:
            <tr>
                <td></td>
                <td colspan="3">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Rennen absagen</h3>
                        </div>
                        <div class="panel-body">
                            <a asp-action="Index" asp-controller="Start" asp-route-id="@item.RaceId" class="btn btn-danger">ABSAGEN</a>
                        </div>
                    </div>
                </td>
                <td></td>
                <td></td>
                <td colspan="3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Rennen Starten</h3>
                        </div>
                        <div class="panel-body">
                            <a asp-action="StartRace" asp-controller="Start" asp-route-id="@item.RaceId" class="btn btn-success">START</a>
                        </div>
                    </div>
                </td>
            </tr>

        }
    }
</table>