@model RegattaManager.Models.RaceDraw

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RaceDraw</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReportedSBCountFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReportedSBCountFrom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReportedSBCountTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReportedSBCountTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VorlaufCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VorlaufCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoffnungslaufCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoffnungslaufCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZwischenlaufCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZwischenlaufCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndlaufCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndlaufCount)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RaceDrawId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
