@model RegattaManager.Models.Race

@{
    ViewData["Title"] = "Ziel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@if (@Model != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Renncode</th>
                <th colspan="3">
                    Rennbezeichnung
                </th>
                <th>
                    Startzeit
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tr class="table-success">
            <td>
                <strong>
                    @Html.DisplayFor(model => Model.RaceCode)
                </strong>
            </td>
            <td colspan="3">
                @if (Model.Gender.Equals("M"))
                    {
                        @if(Model.Oldclass.FromAge >=17 && Model.Oldclass.ToAge <= 99)
                        {
                            @:Herren
                        }
                        else if(Model.Oldclass.FromAge >= 15 && Model.Oldclass.ToAge <= 16)
                        {
                            @:männliche    
                        }                            
                    }
                    else if (string.Equals(Model.Gender, "W"))
                    {
                        @if (Model.Oldclass.FromAge >= 17 && Model.Oldclass.ToAge <= 99)
                        {
                            @:Damen
                        }
                        else
                        {
                            @:weibliche
                        }
                    }
                    else if (string.Equals(Model.Gender, "X"))
                    {
                        @:mixed
                    }
                    @Model.Oldclass.Name
                    &nbsp;-&nbsp;
                    @Model.Boatclass.Name
                    &nbsp;-&nbsp;
                    @Model.Raceclass.Name
            </td>
            <td colspan="3">
                @Html.DisplayFor(model => Model.Starttime)
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr class="table-secondary">
            <td></td>
            <td><i>Startbahn</i></td>
            <td><i>Starter</i></td>
            <td><i>Verein</i></td>
            <td></td>
            <td>
                @if (Model.RaceTypId == 4)
                {
                    <span class="badge badge-pill badge-danger">Endlauf</span>
                }
                else if (Model.RaceTypId == 2)
                {
                    <span class="badge badge-pill badge-warning">Zwischenlauf</span>
                }
                else if (Model.RaceTypId == 1)
                {
                    <span class="badge badge-pill badge-success">Vorlauf</span>
                }
                else if (Model.RaceTypId == 3)
                {
                    <span class="badge badge-pill badge-info">Hoffnungslauf</span>
                }
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var sb in ViewBag.startboats)
        {
            if (sb.RaceId == Model.RaceId)
            {
                @:
                <tr>
                    <td></td>
                    <td>@sb.Startslot</td>
                    <td>
                        @foreach (var sbm in ViewBag.startboatmembers)
                        {
                            @if (sbm.StartboatId == sb.StartboatId)
                            {
                                @foreach (var m in ViewBag.members)
                                {
                                    @if (m.MemberId == sbm.MemberId)
                                    {
                                        @string.Format("{0}, {1}", m.LastName, m.FirstName);
                                        @if (m.ClubId != sb.ClubId && m.isRented == false && m.RentYear != ViewBag.ThisYear)
                                        {
                                            @string.Format(" ({0})", m.Club.ShortName);
                                        }
                                        <br />
                                    }
                                }
                            }
                        }
                    </td>
                    <td>@sb.Club.ShortName</td>
                    <td>
                        <form asp-action="FinishStartboat" asp-controller="Finish" asp-route-id="@sb.StartboatId">
                            @if (sb.Placement != 0)
                            {
                                <a href="#" class="btn btn-success disabled btn-lg">@sb.Placement</a>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success btn-lg">@ViewBag.pmmax</button>
                                <input type="hidden" name="placement" id="placement" value="@ViewBag.pmmax"/>
                            }
                            <input type="hidden" name="statusid" id="statusid" value="3" />
                        </form>
                    </td>
                    <td>
                        <form asp-action="FinishStartboat" asp-controller="Finish" asp-route-id="@sb.StartboatId">
                            @if (sb.Placement != 0)
                            {
                                <button type="submit" class="btn btn-danger">Löschen</button>
                                <input type="hidden" name="placement" id="placement" value="0" />
                            }
                            else
                            {
                                <a href="#" class="btn btn-danger disabled">Löschen</a>
                            }
                            <input type="hidden" name="statusid" id="statusid" value="2" />
                        </form>
                    </td>
                    <td>
                        <form asp-action="FinishStartboat" asp-controller="Finish" asp-route-id="@sb.StartboatId">
                            @if (sb.Placement != 0)
                            {
                                <a href="#" class="btn btn-warning disabled btn-sm">Gekentert</a>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-warning btn-sm">Gekentert</button>
                                <input type="hidden" name="placement" id="placement" value="-1" />
                            }
                            <input type="hidden" name="statusid" id="statusid" value="4" />
                        </form>
                    </td>
                    <td>
                        <form asp-action="FinishStartboat" asp-controller="Finish" asp-route-id="@sb.StartboatId">
                            @if (sb.Placement != 0)
                            {
                                <a href="#" class="btn btn-warning disabled btn-sm">falsch eingefahren</a>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-warning btn-sm">falsch eingefahren</button>
                                <input type="hidden" name="placement" id="placement" value="-1" />
                            }
                            <input type="hidden" name="statusid" id="statusid" value="7" />
                        </form>
                    </td>
                    <td>
                        <form asp-action="FinishStartboat" asp-controller="Finish" asp-route-id="@sb.StartboatId">
                            @if (sb.Placement != 0)
                            {
                                <a href="#" class="btn btn-warning disabled btn-sm">disqualifiziert</a>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-warning btn-sm">disqualifiziert</button>
                                <input type="hidden" name="placement" id="placement" value="-1" />
                            }
                            <input type="hidden" name="statusid" id="statusid" value="8" />
                        </form>
                    </td>
                </tr>
            }
        }

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2">
                @if(ViewBag.allClicked == true)
                {
                    <a asp-action="FinishRace" asp-controller="Finish" asp-route-id="@Model.RaceId" class="btn btn-success btn-lg btn-block">BEENDEN</a>    
                }
                else
                {
                    <a href="#" class="btn btn-success btn-lg btn-block disabled">BEENDEN</a>
                }
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
}    
@if (ViewBag.RunningRacesCount > 1)
{
    <div class="col-md-4">
        <form asp-action="Index" asp-controller="Finish">
            <select class="form-control" name="id" id="id" asp-items="ViewBag.RunningRaces"></select>
            <input type="submit" class="btn btn-primary" value="Auswählen" />
        </form>
    </div>
}
    <hr />
    <h3>Die n&auml;chsten 10 Rennen</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Renncode</th>
                <th colspan="2">
                    Rennbezeichnung
                </th>
                <th>
                    Startzeit
                </th>
            </tr>
        </thead>
        @foreach (var item in ViewBag.NextRaces)
        {
            @if (item.RacestatusId == 3)
            {
                @:<tr class="table-light">
                    }
                    else if (item.RacestatusId == 4)
                    {
                        @:<tr class="table-danger">
                    }
                    else if (item.RacestatusId == 2)
                    {
                        @:<tr class="table-active">
                    }
                    else if (item.RacestatusId == 1002)
                    {
                        @:<tr class="table-success">
                    }
                    else
                    {
                        @:<tr>
                    }
                        <td id="@item.RaceId"><i>@item.RaceCode</i></td>
                    <td colspan="2">
                        @if (item.Gender.Equals("M"))
                        {
                            @if (item.Oldclass.FromAge >= 17 && item.Oldclass.ToAge <= 99)
                            {
                                @:Herren
                            }
                            else if (item.Oldclass.FromAge >= 15 && item.Oldclass.ToAge <= 16)
                            {
                                @:männliche
                            }
                        }
                        else if (string.Equals(item.Gender, "W"))
                        {
                            @if (item.Oldclass.FromAge >= 17 && item.Oldclass.ToAge <= 99)
                            {
                                @:Damen
                            }
                            else
                            {
                                @:weibliche
                            }
                        }
                        else if (string.Equals(item.Gender, "X"))
                        {
                            @:mixed
                        }
                        @item.Oldclass.Name
                        &nbsp;-&nbsp;
                        @item.Boatclass.Name
                        &nbsp;-&nbsp;
                        @item.Raceclass.Name
                        <br />
                        @if (item.RaceTypId == 4)
                        {
                            <span class="badge badge-pill badge-danger">Endlauf</span>
                        }
                        else if (item.RaceTypId == 2)
                        {
                            <span class="badge badge-pill badge-warning">Zwischenlauf</span>
                        }
                        else if (item.RaceTypId == 1)
                        {
                            <span class="badge badge-pill badge-success">Vorlauf</span>
                        }
                        else if (item.RaceTypId == 3)
                        {
                            <span class="badge badge-pill badge-info">Hoffnungslauf</span>
                        }
                    </td>
                    <td>
                        @item.Starttime
                    </td>
                @:</tr>
                }          
</table>