@model RegattaManager.Models.Race

@{
    ViewBag.Title = "Rennen bearbeiten";
}
<h2>Rennen bearbeiten</h2>
<hr />
<form asp-action="Update" asp-controller="Race">
    <table class="table">
        <tr>
            <td>
                <input type="hidden" value="@Model.RaceId" name="RaceId" />
                <input type="hidden" value="@Model.RegattaId" name="RegattaId" />
                <input type="hidden" value="@Model.RaceDrawId" name="RaceDrawId" />
                <input type="hidden" value="@Model.Sequence" name="Sequence" />
                <input type="hidden" value="@Model.ReportedRaceId" name="ReportedRaceId" />
                <div class="form-group">
                    <label class="control-label col-md-2">Geschlecht: @Model.Gender</label>
                    <div class="col-md-10">
                        <select class="form-control" name="Gender" id="Gender" size="3">
                            @if (@Model.Gender == "M")
                            {
                                <option value="M" selected>männliche</option>
                                <option value="W">weibliche</option>
                                <option value="X">mixed</option>
                            }
                            else if (@Model.Gender == "W")
                            {
                                <option value="M">männliche</option>
                                <option value="W" selected>weibliche</option>
                                <option value="X">mixed</option>
                            }
                            else
                            {
                                <option value="M">männliche</option>
                                <option value="W">weibliche</option>
                                <option value="X" selected>mixed</option>
                            }
                        </select>
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label class="control-label col-md-2">Renntyp:</label>
                    <div class="col-md-10">
                        @Html.DropDownList("RaceTypId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>            
                <div class="form-group">
                    <label asp-for="isAbteilungslauf" class="control-label"></label>
                    <input asp-for="isAbteilungslauf" class="form-control" />
                    <span asp-validation-for="isAbteilungslauf" class="text-danger"></span>
                </div>            
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label class="control-label col-md-2">Altersklasse:</label>
                    <div class="col-md-10">
                        @Html.DropDownList("OldclassId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label class="control-label col-md-2">Bootsklasse:</label>
                    <div class="col-md-10">
                        @Html.DropDownList("BoatclassId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label class="control-label col-md-2">Rennklasse:</label>
                    <div class="col-md-10">
                        @Html.DropDownList("RaceclassId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label class="control-label col-md-2">Startzeit</label>
                    <input class="from-control" asp-for="Starttime" /><br />
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Rennstatus</label>
                    @Html.DropDownList("RacestatusId", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label class="control-label col-md-2">Kommentar: </label>
                    <div class="col-md-10">
                        <input class="from-control" asp-for="Comment" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Renncode: </label>
                    <div class="col-md-10">
                        <input class="from-control" asp-for="RaceCode" />
                    </div>
                </div>
            </td>
            <td><input type="submit" value="Rennen speichern" class="btn btn-primary" /></td>
        </tr>
    </table>
</form>