@model RegattaManager.Models.Race

@{
    ViewBag.Title = "Rennen bearbeiten";
}
<h2>Rennen bearbeiten</h2>
<hr />
<form asp-action="Update" asp-controller="Race">
    <table class="table">
        <tr>
            <td>
                <input type="hidden" value="@Model.RaceId" name="RaceId" />
                <input type="hidden" value="@Model.RegattaId" name="RegattaId" />
                <input type="hidden" value="@Model.RacestatusId" name="RacestatusId" />
                <div class="form-group">
                    <label class="control-label col-md-2">Geschlecht: @Model.Gender</label>
                    <div class="col-md-10">
                        <select class="form-control" name="Gender" id="Gender" size="3">
                            <option value="M" selected>männliche</option>
                            <option value="W">weibliche</option>
                            <option value="X">mixed</option>
                        </select>
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label class="control-label col-md-2">Zwischen- / Endlauf: @Model.FinishType</label>
                    <div class="col-md-10">
                        <select class="form-control" name="Final" id="Final" size="3">
                            <option value=0 selected>Vorlauf</option>
                            <option value=1>Zwischenlauf</option>
                            <option value=2>Endlauf</option>
                        </select>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label class="control-label col-md-2">Altersklasse: @Model.Oldclass.Name</label>
                    <div class="col-md-10">
                        @Html.DropDownList("OldclassId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label class="control-label col-md-2">Bootsklasse: @Model.Boatclass.Name</label>
                    <div class="col-md-10">
                        @Html.DropDownList("BoatclassId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label class="control-label col-md-2">Rennklasse: @Model.Raceclass.Name</label>
                    <div class="col-md-10">
                        @Html.DropDownList("RaceclassId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label class="control-label col-md-2">Startzeit</label>
                    <input asp-for="Starttime" /><br />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label class="control-label col-md-2">Kommentar: </label>
                    <div class="col-md-10">
                        <input asp-for="Comment" />
                    </div>
                 </div>
            </td>
            <td><input type="submit" value="Rennen speichern" /></td>
        </tr>
    </table>
</form>