@model IEnumerable<RegattaManager.Models.Race>

@{
   ViewBag.Title = "Rennen";
}
<br/>
<h2>Rennübersicht</h2>
<a asp-action="Create" asp-controller="Race">Neues Rennen erstellen</a>
<br/>
<table class="table table-hover">
@if (ViewBag.regattachosen == 0)
{
        <tr><td><h3>Noch keine Regatta ausgewählt!</h3></td></tr>
        <tr><td></td></tr>
}
else
{
        <thead>
            <tr>
                <th colspan="3">
                    Rennbezeichnung
                </th>
                <th>
                    Rennstatus
                </th>
                <th>
                    Startzeit
                </th>
                <th></th>
            </tr>
        </thead>
    @foreach (var item in Model)
{
    <tr class="table-active">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="table-primary">
        <td>
            @if (item.RaceTypId == 4)
                {
                    <span class="badge badge-pill badge-primary">Endlauf</span>
                }
                else if (item.RaceTypId == 2)
                {
                    <span class="badge badge-pill badge-secondary">Zwischenlauf</span>
                }
                else if (item.RaceTypId == 1)
                {
                    <span class="badge badge-pill badge-success">Vorlauf</span>
                }
                else if (item.RaceTypId == 3)
                {
                    <span class="badge badge-pill badge-info">Hoffnungslauf</span>
                }
        </td>
        <td colspan="2">
            @if (item.Gender.Equals("M"))
                {
                    @string.Format("männliche");
                }
                else if (item.Gender.Equals("W"))
                {
                    @string.Format("weibliche");
                }
                else
                {
                    @string.Format("mixed");
                }
            @Html.DisplayFor(modelItem => item.Oldclass.Name)
            &nbsp;-&nbsp;
            @Html.DisplayFor(modelItem => item.Boatclass.Name)
            &nbsp;-&nbsp;
            @Html.DisplayFor(modelItem => item.Raceclass.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Starttime)
        </td>
        <td>
            <a asp-action="Details" asp-controller="Race" asp-route-id="@item.RaceId">Startboot hinzufügen</a>
        </td>
        <td>
            @Html.ActionLink("Löschen", "Delete", new { id = item.RaceId })
        </td>
    </tr>
    <tr class="table-secondary">
        <td id="@item.RaceId"><i>@item.RaceCode</i></td>
        <td><i>Startbahn</i></td>
        <td><i>Starter</i></td>
        <td><i>Verein</i></td>
        <td></td>
        <td>@Html.ActionLink("Ändern", "Edit", new { id = item.RaceId })</td>
    </tr>
foreach (var sb in ViewBag.startboats)
{
    if (sb.RaceId == item.RaceId)
    {
        @:
        <tr class="table-light">
            <td></td>
            <td>@sb.Startslot</td>
            <td>
                @foreach (var sbm in ViewBag.startboatmembers)
                        {                            
                            @if (sbm.StartboatId == sb.StartboatId)
                            {
                                @foreach (var m in ViewBag.members)
                                {
                                    @if (m.MemberId == sbm.MemberId)
                                    {
                                        @string.Format("{0}, {1}", m.LastName, m.FirstName);
                                        @if (m.ClubId != sb.ClubId)
                                        {
                                            @string.Format(" ({0})", m.Club.Name);
                                        }
                                        <br />
                                }
                                }
                            }
                        }
            </td>
            <td>@sb.Club.Name</td>
            <td></td>
            <td></td>
        </tr>
}
}
}
}
    </table>
