@model IEnumerable<RegattaManager.Models.Race>

@{
   ViewBag.Title = "Rennen";
}
<br/>
<h2>Rennübersicht</h2>
<a asp-action="Create" asp-controller="Race">Neues Rennen erstellen</a>
<br/>
<table class="table table-hover">
@if (ViewBag.regattachosen == 0)
{
        <tr><td><h3>Noch keine Regatta ausgewählt!</h3></td></tr>
        <tr><td></td></tr>
}
else
{
        <thead>
            <tr>
                <th>Renncode</th>
                <th colspan="2">
                    Rennbezeichnung
                </th>
                <th>
                    Rennstatus
                </th>
                <th>
                    Startzeit
                </th>
                <th></th>                
                <th></th>
            </tr>
        </thead>
    @foreach (var item in Model)
    {
        @if(item.RacestatusId == 3)
        {
            @:<tr class="table-success">
        }
        else if(item.RacestatusId == 4)
        {
            @:<tr class="table-danger">
        }
        else if(item.RacestatusId == 2)
        {
            @:<tr class="table-active">
        }
        else if(item.RacestatusId == 1004)
        {
            @:<tr class="table-primary">
        } 
        else
        {
            @:<tr>
        }
        <td id="@item.RaceId"><i>@item.RaceCode</i></td>
        <td colspan="2">
                @if (item.Gender.Equals("M"))
                {
                    @if(item.Oldclass.FromAge >=17 && item.Oldclass.ToAge <= 99)
                    {
                        @:Herren
                    }
                    else if(item.Oldclass.FromAge >= 15 && item.Oldclass.ToAge <= 16)
                    {
                        @:männliche    
                    }                            
                }
                else if (string.Equals(item.Gender, "W"))
                {
                    @if (item.Oldclass.FromAge >= 17 && item.Oldclass.ToAge <= 99)
                    {
                        @:Damen
                    }
                    else
                    {
                        @:weibliche
                    }
                }
                else if (string.Equals(item.Gender, "X"))
                {
                    @:mixed
                }                
            @Html.DisplayFor(modelItem => item.Oldclass.Name)
            &nbsp;-&nbsp;
            @Html.DisplayFor(modelItem => item.Boatclass.Name)
            &nbsp;-&nbsp;
            @Html.DisplayFor(modelItem => item.Raceclass.Name)
            <br/>
            @if (item.RaceTypId == 4)
            {
                <span class="badge badge-pill badge-danger">Endlauf</span>
            }
            else if (item.RaceTypId == 2)
            {
                <span class="badge badge-pill badge-warning">Zwischenlauf</span>
            }
            else if (item.RaceTypId == 1)
            {
                <span class="badge badge-pill badge-success">Vorlauf</span>
            }
            else if (item.RaceTypId == 3)
            {
                <span class="badge badge-pill badge-info">Hoffnungslauf</span>
            }
        </td>        
        <td>
            @item.Racestatus.Name
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Starttime)
        </td>
        <td>
            <a asp-action="Details" asp-controller="Race" asp-route-id="@item.RaceId" class="btn btn-secondary">Details</a>
        </td>
        <td>
            <a asp-action="Delete" asp-controller="Race" asp-route-id="@item.RaceId" class="btn btn-danger">L&ouml;schen</a>
            <a asp-action="Edit" asp-controller="Race" asp-route-id="@item.RaceId" class="btn btn-primary">&Auml;ndern</a>
            @if(item.RacestatusId == 1002)
            {
                <a asp-action="Approve" asp-controller="Race" asp-route-id="@item.RaceId" class="btn btn-success">Abnehmen</a>
            }
        </td>
    @:</tr>
    }
}
    </table>
