@model IEnumerable<RegattaManager.Models.Race>

@{
   ViewBag.Title = "Rennen";
}

<h2>Rennübersicht</h2>

<table class="table">
@if (ViewBag.regattachosen == 0)
{
        <tr><td><h3>Noch keine Regatta ausgewählt!</h3></td></tr>
        <tr><td></td></tr>
}
else
{
    <tr>
        <th colspan="3">
            Rennbezeichnung
        </th>
        <th>
            Rennstatus
        </th>
        <th>
            Startzeit
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
{
    <tr>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#CCCCCC"></td>
    </tr>
    <tr>
        <td bgcolor="#DDDDDD">
            @if (item.FinishType == 2)
        {
            <span class="label label-success">Endlauf</span>
    }
    else if (item.FinishType == 1)
    {
        <span class="label label-primary">Zwischenlauf</span>
}
else if (item.FinishType == 0)
{
    <span class="label label-default">Vorlauf</span>
}
        </td>
        <td bgcolor="#DDDDDD" colspan="2">
            @if (item.Gender == "M")
        {
            string.Format("männliche");
        }
        else if (item.Gender == "W")
        {
            string.Format("weibliche");
        }
        else
        {
            string.Format("mixed");
        }
            @Html.DisplayFor(modelItem => item.Oldclass.Name)
            &nbsp;-&nbsp;
            @Html.DisplayFor(modelItem => item.Boatclass.Name)
            &nbsp;-&nbsp;
            @Html.DisplayFor(modelItem => item.Raceclass.Name)
        </td>
        <td bgcolor="#DDDDDD">
            @Html.DisplayFor(modelItem => item.Starttime)
        </td>
        <td bgcolor="#DDDDDD">
            <a asp-action="Details" asp-controller="Race" asp-route-id="@item.RaceId">Startboot hinzufügen</a>
        </td>
        <td bgcolor="#DDDDDD">
            @Html.ActionLink("Löschen", "Delete", new { id = item.RaceId })
        </td>
    </tr>
    <tr>
        <td bgcolor="#EEEEEE"><i>@item.RaceId</i></td>
        <td bgcolor="#EEEEEE"><i>Startbahn</i></td>
        <td bgcolor="#EEEEEE"><i>Starter</i></td>
        <td bgcolor="#EEEEEE"><i>Verein</i></td>
        <td bgcolor="#EEEEEE"></td>
        <td bgcolor="#EEEEEE">@Html.ActionLink("Ändern", "Edit", new { id = item.RaceId })</td>
    </tr>
foreach (var sb in ViewBag.startboats)
{
    if (sb.RaceId == item.RaceId)
    {
        @:
        <tr>
            <td></td>
            <td>@sb.Startbahn</td>
            <td>
                @foreach (var sbm in ViewBag.startboatmembers)
            {
                if (sbm.StartboatId == sb.StartboatId)
                {
                    foreach (var m in ViewBag.members)
                    {
                        if (m.MemberId == sbm.MemberId)
                        {
                            string.Format("{0}, {1}", m.LastName, m.FirstName);
                            if (m.ClubId != sb.ClubId)
                            {
                                string.Format(" ({0})", m.Club.Name);
                            }
                            <br />
                    }
                }
            }
        }
            </td>
            <td>@sb.Club.Name</td>
            <td></td>
            <td></td>
        </tr>
}
}
}
}
    </table>
