@model IEnumerable<RegattaManager.Models.Race>

@{
    ViewBag.Title = "Rennübersicht";
}

@if (ViewData["All"].ToString() == "1")
{
    <h2>Alle geplanten Rennen</h2>
}
else if (ViewData["ZE"].ToString() == "1")
{
    <h2>Zwischen- und Endläufe</h2>
}
else
{
    <h2>Kurzübersicht</h2>
}

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Meine Rennen (Nachname): <input class="form-control" type="text" name="SearchLastName" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Suchen" class="btn btn-default" /> |
            <a asp-action="Index">Zurück</a>
        </p>
    </div>
</form>
<p>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <input type="hidden" name="All" value="1">
            <input type="submit" value="Alle Rennen anzeigen" class="btn btn-default" />
        </div>
    </form>
</p>
<p>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <input type="hidden" name="ZE" value="1">
            <input type="submit" value="Zwischen- und Endläufe" class="btn btn-default" />
        </div>
    </form>
</p>

<table class="table">
    <tr>
        <th>
            Rennbezeichnung
        </th>
        <th>
            Startzeit
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td bgcolor="#CCCCCC" colspan="2"></td>
            <td bgcolor="#CCCCCC"></td>
        </tr>
        <tr>
            <td bgcolor="#DDDDDD">
                @if (item.Gender.Equals("M"))
                {
                    @string.Format("männliche");
                }
                else if (item.Gender.Equals("W"))
                {
                    @string.Format("weibliche");
                }
                else
                {
                    @string.Format("mixed");
                }
                @Html.DisplayFor(modelItem => item.Oldclass.Name)
                &nbsp;-&nbsp;
                @Html.DisplayFor(modelItem => item.Boatclass.Name)
                &nbsp;-&nbsp;
                @Html.DisplayFor(modelItem => item.Raceclass.Name)
            </td>
            <td bgcolor="#DDDDDD">
                @Html.DisplayFor(modelItem => item.Starttime)
            </td>
            <td bgcolor="#DDDDDD">
                @if (item.FinishType == 2)
                {
                    <span class="label label-success">Endlauf</span>
                }
                else if (item.FinishType == 1)
                {
                    <span class="label label-primary">Zwischenlauf</span>
                }
                else if (item.FinishType == 0)
                {
                    <span class="label label-default">Vorlauf</span>
                }
                else if (item.FinishType == 4)
                {
                    <span class="label label-info">Hoffnungslauf</span>
                }

                @if (item.Comment != "")
                {
                    @:&nbsp;
                    @:<span class="label label-warning">@item.Comment</span>
                    @if (@item.Comment == "Bier Cup")
                    {
                        @:&nbsp;<img src="/images/beer-512.png" height="15" />
                }
                    @if (@item.Comment == "Prosecco Cup")
                    {
                        @:&nbsp;<img src="/images/prosecco.png" height="15" />
                }
                }
            </td>
        </tr>
        <tr>
            <td bgcolor="#EEEEEE"><i>Startbahn</i></td>
            <td bgcolor="#EEEEEE"><i>Starter</i></td>
            <td bgcolor="#EEEEEE"><i>Verein</i></td>
        </tr>
        @foreach (var sb in ViewBag.startboats)
        {
            if (sb.RaceId == item.RaceId)
            {
                @:&nbsp;
                <tr>                    
                    <td>@sb.Startbahn</td>                   
                    <td>
            foreach (var sbm in ViewBag.startboatmembers)
                {
                    if (sbm.StartboatId == sb.StartboatId)
                    {
                        foreach (var m in ViewBag.members)
                        {
                            if (m.MemberId == sbm.MemberId)
                            {
                                @string.Format("{0}, {1}", m.LastName, m.FirstName);
                                @if (m.ClubId != sb.ClubId)
                                {
                                    @string.Format(" ({0})", m.Club.Name);
                                }
                                <br />
                        }
                        }
                    }
                }
                
            </td>
            
            <td>@sb.Club.Name</td>
            
        </tr>
        }
        }
    }

</table>