@model IEnumerable<RegattaManager.Models.Race>

@{
    ViewBag.Title = "Rennübersicht";
}
<br/>
@if (ViewBag.All == "1")
{
    <h2>Alle geplanten Rennen</h2>
}
else if (ViewBag.ZE == "1")
{
    <h2>Zwischen- und Endläufe</h2>
}
else
{
    <h2>Kurzübersicht</h2>
}

<form asp-action="Index">
    <div class="col-md-4">
            <label class="control-label">Nachname:</label> 
            <input class="form-control" type="text" name="SearchLastName" value="@ViewData["CurrentFilter"]" />
            <label class="control-label">Verein:</label> 
            <select class="form-control" name="filterClubId" asp-items="@ViewBag.filterClub"><option value="0">---Verein ausw&auml;hlen</option></select>
            <br/>
            <input type="submit" value="Suchen" class="btn btn-secondary" /> |
            <a asp-action="Index">Zurück</a>
    </div>
</form>
<br/>
<div>
    <a href="/?All=1" class="btn btn-secondary">Alle Rennen</a> | <a href="/?ZE=1" class="btn btn-secondary">Ausgeloste Rennen</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @if (ViewBag.All == "1")
                {
                    <a href="/?All=1&orderby=RaceCode">Renncode</a>
                }
                else
                {
                    @:Renncode
                }
            </th>
            <th>
                Rennbezeichnung
            </th>
            <th>
                Startzeit
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
    <tr class="table-active">
        <td colspan="2"></td>
        <td></td>
        <td></td>
    </tr>
        <tr class="table-primary">
            <th>@item.RaceCode</th>
            <th>
                @if (item.Gender.Equals("M"))
                {
                    @if(item.Oldclass.FromAge >=17 && item.Oldclass.ToAge <= 99)
                    {
                        @:Herren
                    }
                    else if(item.Oldclass.FromAge >= 15 && item.Oldclass.ToAge <= 16)
                    {
                        @:männliche    
                    }                            
                }
                else if (string.Equals(item.Gender, "W"))
                {
                    @if (item.Oldclass.FromAge >= 17 && item.Oldclass.ToAge <= 99)
                    {
                        @:Damen
                    }
                    else
                    {
                        @:weibliche
                    }
                }
                else if (string.Equals(item.Gender, "X"))
                {
                    @:mixed
                }
                @Html.DisplayFor(modelItem => item.Oldclass.Name)
                &nbsp;-&nbsp;
                @Html.DisplayFor(modelItem => item.Boatclass.Name)
                &nbsp;-&nbsp;
                @Html.DisplayFor(modelItem => item.Raceclass.Name)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Starttime)
            </th>
            <th>
                @if (item.RaceTypId == 4)
                {
                    <span class="badge badge-pill badge-danger">Endlauf</span>
                }
                else if (item.RaceTypId == 2)
                {
                    <span class="badge badge-pill badge-warning">Zwischenlauf</span>
                }
                else if (item.RaceTypId == 1)
                {
                    <span class="badge badge-pill badge-success">Vorlauf</span>
                }
                else if (item.RaceTypId == 3)
                {
                    <span class="badge badge-pill badge-info">Hoffnungslauf</span>
                }

                @if (item.Comment != "")
                {
                    @:&nbsp;
                    @:<span class="badge badge-primary">@item.Comment</span>
                    @if (@item.Comment == "Bier Cup")
                    {
                        @:&nbsp;<img src="/images/beer-512.png" height="15" />
                }
                    @if (@item.Comment == "Prosecco Cup")
                    {
                        @:&nbsp;<img src="/images/prosecco.png" height="15" />
                }
                }
            </th>
        </tr>
        <tr class="table-secondary">
            <td><i>Startbahn</i></td>
            <td><i>Starter</i></td>
            <td colspan="2"><i>Verein</i></td>            
        </tr>
            @foreach (var sb in ViewBag.startboats)
            {
                if (sb.RaceId == item.RaceId)
                {
                    @:&nbsp;
                    <tr class="table-light">                    
                        <td>@sb.Startslot</td>                   
                        <td>
                        @foreach (var sbm in ViewBag.startboatmembers)
                        {                            
                            @if (sbm.StartboatId == sb.StartboatId)
                            {
                                @foreach (var m in ViewBag.members)
                                {
                                    @if (m.MemberId == sbm.MemberId)
                                    {
                                        @string.Format("{0}, {1}", m.LastName, m.FirstName);
                                        @if (m.ClubId != sb.ClubId && m.isRented == false && m.RentYear != ViewBag.ThisYear)
                                        {
                                            @string.Format(" ({0})", m.Club.ShortName);
                                        }
                                        <br />
                                    }
                                }
                            }
                        }
                
                </td>
            
                <td colspan="2">@sb.Club.Name</td>
            
            </tr>
            }
        }
    }

</table>