@model IEnumerable<RegattaManager.Models.Regatta>

@{
    ViewData["Title"] = "Regattaübersicht";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Regattaübersicht</h2>

<p>
    <a asp-action="Create">Neue Regatta erstellen</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FromDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Club)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RegattaId">Bearbeiten</a> |                             
                <a asp-action="Delete" asp-route-id="@item.RegattaId">L&ouml;schen</a> |
                @if (!item.Choosen)
                {
                    <a asp-action="Choose" asp-route-id="@item.RegattaId">Auswählen</a>
                }
                else
                {
                    <b>Ausgewählt</b>
                }
            </td>
        </tr>
}
    </tbody>
</table>
