@model IEnumerable<RegattaManager.Models.RaceDrawRules>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RaceSequence)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlacementFrom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlacementTo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToRaceTypId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToRaceSequence)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.RaceDraw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaceTyp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RaceSequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacementFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacementTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToRaceTypId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToRaceSequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceDraw.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceTyp.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RaceDrawRuleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RaceDrawRuleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RaceDrawRuleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
